/* defining the global variables */
:root{
    --primaryColor: #577D86;
    --backgroundColor: #B9EDDD;
    --myTitleFont:'Dancing Script', cursive;
    --titleFont:'Sacramento', cursive;
    --fontDefaultTextFont: 'Lato', sans-serif;
    --fontDefaultHeading: 'Montserrat', sans-serif; 
}

/* main css */

body{
    margin: 0px;
    color: var(--primaryColor);
}

h2 {
    font-family: var(--fontDefaultHeading);
    margin: 0;
    font-size: 2.00rem;  /* 1em = 16px */
    padding-bottom: 20px;
}

hr{
    margin-top: 100px;
    margin-bottom: 100px;
    border: dotted var(--backgroundColor) 5px;
    border-bottom: none;
    width: 5%;
}

a{

    text-decoration: none;
    
}


.top-section{
    background-color: var(--backgroundColor);
    text-align: center;
    padding-top: 120px;
}

.middle-section{
    margin: 50px auto 100px auto;
    text-align: center;
    width: 75%;
}


.heading {
    font-family: var(--titleFont);
    font-size: 4.75rem;    
    margin: 0;
}

.top-cloud{
    position: absolute;
    margin-block-start: -80px;
    margin-left: 350px;
    width: 100px;
}
.bottom-cloud{
    position: absolute;
    margin-block-start: 80px;
    margin-left: -150px;
    width: 100px;
}
.mountain{
    width: 400px;
}
.profile-pic{
    border-radius: 100%;
    width: 200px;
    margin: 100px auto 50px auto; /* TRBL */
    display: block;
}

.intro{
    width: 75%;
    margin: auto;
    line-height: 2;
}

.left{
    float: left;
    margin-left: 40px;

}

.right{
    float: right;
    margin-left: 40px;

}

.skill-row{

    margin-bottom: 80px;
}

.contact{
    background-color: blue ;
    padding: 10px 20px;
    border-radius: 15px;
    margin: 40px auto;
    color: white;
    font-size: 1.75rem;
}

.contact:hover
{
    background-color: rgb(19, 175, 87);
}

.bottom-section{

    margin: auto;
    background-color: rgb(20, 117, 159);
    text-align: center;
}

.social{

    padding: 40px 80px;
}

.social-links{
    margin:  0px 40px;
}


.social-links:hover{

    color:pink;
}
/* 
font-family: 'Dancing Script', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif; 
*/